body{
    font-family: "Poppins", sans-serif;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 80px;

}

a{
    text-decoration: none;
    margin: 20px;
    color: black;
}

/* #nav a{
    color: black;
} */


#changecolor{
    color:#ff4d01;
}



#nav{
    margin-right:40px ;
    margin-top: 20px;
    
}



#name{
    /* margin-right: 10%; */
    margin-left: 40px;
    /* width: 70px;
    height: 70px; */
    margin-top: 20px;

}




.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    /* background:linear-gradient(rgba(0,0,10,0.7),rgba(0,0,10,0.7)), url("./pictures/ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover; */
}

#cont1{
    margin-right: 10px;
    width: 70vh;
}

#cont1 h3{
    font-size: 25px;
    

}

#cont1 p{
    font-size: 15px;
    
    
}

#cont1 button{
    font-size: 20px;
    padding:10px 10px ;
    background-color: #ff4d01;
    border: none;
}

.cont img{
    margin-left: 10px;
    width: 600px;
    height: 540px;
    bottom: 0;
    position:absolute;
}


#para{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#heading{
    margin-top: 70px;
    
}

#para p{
    margin-top: 30px;
    background-color: #ff4d01;
    margin: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

#skile{
    display: flex;
}

#skile h3{
    margin: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 50px;
}

#skile li{
   
    list-style: none;

}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 0px;
    gap: 60px;
    



}

#image{
    position: relative;
}

#image img{
    width: 80vh;
    height: 40vh;
}

#image a{
    text-align: center;
    position: absolute;
    bottom: 0;
    left:10em;
}


#gme{
    margin-right: 20px;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.5); 
    padding: 20px;
    place-items: center;
    align-items: center;
    
}

button{
    border: none;
}




.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff4d01;
    height: 20vh;
    left: 0px; 
    width: 100%;
}

input{
    border: 1px solid black;
    background-color: #ff4d01;
    padding: 5px;
    top: 0px;
    bottom: 0;
    margin-bottom: 25px;
}

#eml button{
    background-color: #ff4d01;
    color: white;
    padding:5px ;
    border: 2px solid black;
}

/* Footer

position: absolute;
width: 1440px;
height: 360px;
left: 0px;
bottom: 0px; */


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;

}

#foot a{
    color: #ff4d01;
}


footer a{
    color: white;
}







